<div class="container">
    <div class="box">
      <div class="header">
        <div class="logo">
            <img class="logo" src="assets/img/logo.svg">
            <mat-card-title class="medicar">Medicar</mat-card-title>
        </div>
        <div class="loged">
          <p class="username">{{username}}</p>
          <button mat-button (click)="desconectar()" color="btn-secondary"> Desconectar </button>  
        </div>

      </div>
        <mat-card >
            <div class="div_consulta">
                <mat-card-title class="consulta_clinica">Consulta Clínica</mat-card-title>
                <button mat-button (click)="novaConsulta()" color="btn-primary"> + Nova consulta </button>
                </div>
                
                <table mat-table [dataSource]="dataSource" >

                    <!--- Note that these columns can be defined in any order.
                          The actual rendered columns are set as a property on the row definition" -->
                  
                    <!-- Position Column -->
                    <ng-container matColumnDef="medico.especialidade.nome">
                      <th mat-header-cell *matHeaderCellDef> ESPECIALIDADE </th>
                      <td mat-cell *matCellDef="let element"> {{element.medico.especialidade.nome}} </td>
                    </ng-container>
                  
                    <!-- Name Column -->
                    <ng-container matColumnDef="medico.nome">
                      <th mat-header-cell *matHeaderCellDef> PROFISSIONAL </th>
                      <td mat-cell *matCellDef="let element"> {{element.medico.nome}} </td>
                    </ng-container>
                  
                    <!-- Weight Column -->
                    <ng-container matColumnDef="dia">
                      <th mat-header-cell *matHeaderCellDef> DATA </th>
                      <td mat-cell *matCellDef="let element"> {{element.dia}} </td>
                    </ng-container>
                  
                    <!-- Symbol Column -->
                    <ng-container matColumnDef="horario">
                      <th mat-header-cell *matHeaderCellDef> HORA </th>
                      <td mat-cell *matCellDef="let element"> {{element.horario}} </td>
                    </ng-container>

                    <ng-container matColumnDef="id">
                      <th mat-header-cell *matHeaderCellDef> </th>
                        <td mat-cell *matCellDef="let element"> 
                          <button mat-button (click)="desmarcar(element.id)" color="btn-secondary"> x   Desmarcar </button>  
                        </td>
                        
                      </ng-container>
                  
                    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                  </table>
           

        </mat-card>        
    </div>
</div>

