/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif;
}

.mat-btn-primary {
    color: #fff;
    background-color: #49B4BB;
  }

.mat-btn-primary:hover {
color: #fff;
background-color: #90D3D7;
}

.mat-btn-secondary{
    color: #49B4BB;
    background-color: #fff;
  }

.mat-btn-secondary:hover {
color: #49B4BB;
background-color: #D9F1F3;
}
